    @{{httpMethod}}{{#subresourceOperation}}
    @Path("{{{path}}}"){{/subresourceOperation}}{{#hasConsumes}}
    @Consumes({ {{#consumes}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/consumes}} }){{/hasConsumes}}{{#hasProduces}}
    @Produces({ {{#produces}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/produces}} }){{/hasProduces}}{{#useSwaggerAnnotations}}
    @Operation(value = "{{{summary}}}", notes = "{{{notes}}}", tags={ {{#vendorExtensions.x-tags}}"{{tag}}"{{#hasMore}}, {{/hasMore}}{{/vendorExtensions.x-tags}} }{{#hasAuthMethods}}, 
        security = {
            {{#authMethods}}@SecurityRequirement(name = "{{name}}"{{#isOAuth}}, scopes = { {{#scopes}}"{{scope}}"{{#hasMore}}, {{/hasMore}}{{/scopes}} }{{/isOAuth}}){{#hasMore}},
            {{/hasMore}}{{/authMethods}}
        }{{/hasAuthMethods}},
        responses = {
            {{#responses}}@ApiResponse(responseCode = {{{code}}}, description = "{{{message}}}", content = @Content(schema = @Schema(implementation = {{{baseType}}}.class))){{#hasMore}},
            {{/hasMore}}{{/responses}}
        })
    }){{/useSwaggerAnnotations}}
    public Response {{nickname}}({{#allParams}}{{>queryParams}}{{>pathParams}}{{>headerParams}}{{>bodyParams}}{{>formParams}}{{#hasMore}},{{/hasMore}}{{/allParams}}) {
        return Response.ok().entity("magic!").build();
    }
